<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="Soap4.me">
        <setting label="Авторизация" type="lsep" />
        <setting id="username" type="text" label="Логин" default="" />
        <setting id="password" type="text" label="Пароль" option="hidden" default="" />

        <setting label="Список видео" type="lsep" />
        <setting id="language" type="enum" label="Предпочитаемый язык озвучки" values="Русский|Оригинал"/>
        <setting id="subtitles_language" type="enum" label="Предпочитаемый язык субтитров" values="Русский|Оригинал"/>
        <setting id="quality" type="enum" label="Максимальное качество видео" values="SD|720p|FullHD|2K|4K"/>

        <setting label="Параметры" type="lsep" />
        <setting id="port" type="number" label="Порт веб-сервера" default="19088" />
    </category>
</settings>
